body {
    width: 1000px;
    height: 1000px;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #c7b3b3;
    display: flex;
    flex-direction: column; 
}
.container {
width: 1000px;
    height:100%; 
    background-color: #e3d5ca;
}
header {
    width: 80%;
    height: 90px;
    background-color: #99582ab0;
    margin: 0 auto; 
    color: #fff;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.bar{
    gap: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem;
}
.bar button{
    border: none;
    background: none;
    border-radius: 45%;
}
.bar img {

    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.search-bar {
    width: 40%;
    height: 20px;
    background-color: #c19d64b5;
    color: #fff;
    margin-left: 0%;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}           
.adds{
    display: flex;
    flex-direction: row;
}
.adds img {
    width: 50%;
    height: 100%;
    
}
